<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Download</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}" ></script>

</head>
<body>

<img src="{% static 'images/nani.jpg' %}" class="img-fluid" >
<a href="{% static 'images/nani.jpg' %}" download>
<button type="button" class="btn btn-danger" style="float: right;"> Download</button>

</a>
</body>
</html>